:root {
    --azul:#007BFF;
    --verde: #00FF00;
    --gris: #333333;
    --amarillo: #ffd100;
    --naranja: #FF5733;
    --morado: #6223D2;
    --morado-oscuro: #351964;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    user-select: none;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}

.fondo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to right,#274D72, #9F5972); */
    background: url(../img/futfondo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vista {
    position: absolute;
    width: 85%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 6;
}

.fila {
    display: flex;
    align-items: center;
    padding: 0 5rem;
}

.lista {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 0;
    top: 50%;
    width: 30%;
    z-index: 7;
    transform: translate(0, -50%);
}

.opcion {
    color: #FFF;
    width: fit-content;
    text-align: right;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    padding-right: 2rem;
    padding-left: 0.5rem;
    border-radius: 8px;
    text-shadow: 1px 1px #000;
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.6);
}

.opcion:hover {
    background-color: rgba(50, 50, 50, 0.8);
}

.opcion.activa, .opcion.activa > .seccion {
    color: var(--naranja);
    font-size: 1.25rem;
    /* width: 15rem; */
}

.opcion.activa > .puntos {
    font-size: 0;
}

.seccion {
    font-size: 0;
}

.texto {
    max-width: 40%;
    width: fit-content;
    text-align: justify;
    padding: 1rem;
    background-color: rgba(98, 216, 255, 0.8);
    border-radius: 10px;
}

.texto > p {
    margin-bottom: 0;
}

footer {
    position: absolute;
    background: var(--gris);
    padding: 0.2rem 0.5rem;
    border-radius: 7px;
    color: #FFF;
    font-family: "Consolas", sans-serif;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 50%;
    margin-top: 2rem;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {

    html {
        font-size: 14px;
    }

    .vista {
        width: 100% !important;
        height: fit-content;
    }

    .fila {
        justify-content: center;
        padding: 0 3rem !important;
    }

    .lista {
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: static;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        transform: translate(0);
    }

    .opcion {
        padding: 0.1rem 0.5rem;
    }

    .opcion > .seccion {
        font-size: 1.25rem;
    }

    .opcion.activa {
        width: fit-content;
    }

    .puntos {
        font-size: 0;
    }

    .texto {
        text-align: center;
        max-width: unset;
    }
}